
a{
    text-decoration: none;
    
}
header{
    width: 100%;
    height: auto;
    position: fixed;
    left: 0px;
    top: 0px;
}
header h1{
    width: 10em;
    display: block;
    margin: 0em auto;
    font-size: 3em;
}

header h2{
    width: 20em;
    display: block;
    margin: 0em auto;
    text-align: center;
    font-size: 1.3em;
}

footer{
    width: 100%;
    height: 5em;
    position:fixed;
    left: 0px;
    bottom: 0px;
    border-top: 3px solid black;
}

footer li{
    display: inline;
    width: 20em;
    margin: 2em 3em;
}

#footerUl{
    width: 40em;
    margin: 0em auto;
    text-align: center;
}

footer h3 a{
    color: black;
    }
footer h3{
    width: 30em;
    margin: 0em auto;
    text-align: center;
}





#container{
    background-color: red;
    width: 1000px;
    height: auto;
    margin: 6em auto;
    line-height: 0px;
    display: block;
    
    
}

